@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "League Spartan", sans-serif;
}

html,
body {
  width: 100%;
  height: 100vh;
  background-color: #000000;
}

section {
  width: 1440px;
  background-color: hsl(180, 52%, 96%);
  margin: auto;
}

.filters-container {
  background-color: hsl(180, 29%, 50%);
  background-image: url(/images/bg-header-desktop.svg);
  background-size: cover;
  padding: 90px 165px;
  cursor: pointer;
}

.filters {
  display: flex;
  background-color: #ffffff;
  padding: 25px 35px;
  border-radius: 7px;
  position: absolute;
  width: 1040px;
  top: 14%;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.data-filters {
  display: flex;
  gap: 20px;
}

.data-filters div {
  display: flex;
  background-color: #ecf8f6;
  color: #5fa5a4;
  font-weight: 700;
  padding-left: 10px;
  border-radius: 5px;
  align-items: center;
  display: none;
  width: max-content;
}

#clear {
  padding: 0;
  background-color: #ffffff;
  color: hsl(180, 8%, 52%);
  font-weight: 700;
}

#clear:hover {
  text-decoration: underline;
  color: #5fa5a4;
}

.fa-xmark {
  font-size: 20px;
  color: #ffffff;
}

.listing:has(.featured) {
  border-left: 5px solid #5fa5a4;
}

button {
  background-color: #5fa5a4;
  padding: 8px 12px;
  border: 0;
  border-radius: 0 5px 5px 0;
  margin-left: 7px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(180, 14%, 20%);
}

.container {
  padding: 80px 165px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.listing {
  padding: 30px 40px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  cursor: pointer;
  transition: 0.1s ease-in;
}

.listing:hover {
  box-shadow: 0 3px 10px 10px rgb(0 0 0 / 0.2);
}

.listing-image {
  margin-right: 25px;
}

.listing-writeup {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.listing-writeup p {
  display: flex;
  align-items: center;
  gap: 15px;
  text-align: center;
}

hr {
  display: none;
}

.tags {
  display: flex;
  margin-left: auto;
  gap: 15px;
}

.tags p {
  padding: 9px;
  background-color: #ecf8f6;
  color: #5fa5a4;
  font-weight: 700;
  border-radius: 2px;
}

.tags p:hover {
  background-color: #5fa5a4;
  color: #ffffff;
}

.company {
  color: #5fa5a4;
  font-weight: 700;
}

.new {
  font-size: 14px;
  padding: 8px;
  border-radius: 15px;
  background-color: #5fa5a4;
  color: #ffffff;
  font-weight: 700;
}

.featured {
  font-size: 14px;
  padding: 8px;
  border-radius: 15px;
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
}

h4 {
  font-size: 22px;
}

h4:hover {
  color: #5fa5a4;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: hsl(180, 8%, 52%);
}

.details {
  color: hsl(180, 8%, 52%);
}

.frontend,
.fullstack,
.backend {
  display: none;
}

.junior,
.midweight,
.senior {
  display: none;
}

.python,
.ruby,
.javascript,
.html,
.css {
  display: none;
}

.react,
.sass,
.vue,
.django,
.ror {
  display: none;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* MEDIA QUERIES */
/* FOR SCREENS 374px and BELOW */
@media screen and (max-width: 374px) {
  section {
    width: 100%;
  }

  .filters {
    width: 70%;
    left: 6%;
  }

  .data-filters {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2px;
  }

  .container {
    padding: 180px 0;
    padding-bottom: 50px;
    gap: 40px;
  }

  .listing {
    padding: 15px 20px;
    flex-direction: column;
    align-items: start;
    width: 280px;
    margin: auto;
  }

  .listing-image {
    margin: 0;
    width: 40%;
    height: 40%;
    margin-top: -40px;
  }

  .listing-image img {
    width: inherit;
  }

  .tags {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  hr {
    width: 100%;
    display: flex;
    background-color: #bec0bf;
    margin: 20px 0;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 375px TO 767px */

@media screen and (min-width: 375px) and (max-width: 767px) {
  section {
    width: 100%;
  }

  .filters {
    width: 70%;
    left: 0;
    margin-left: 40px;
  }

  .data-filters {
    display: grid;
    grid-template-columns: auto auto;
  }

  .container {
    padding: 180px 0;
    padding-bottom: 50px;
    gap: 40px;
  }

  .listing {
    padding: 15px 20px;
    flex-direction: column;
    align-items: start;
    width: 80%;
    margin: auto;
  }

  hr {
    width: 100%;
    display: flex;
    background-color: #bec0bf;
    margin: 20px 0;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
@media screen and (min-width: 375px) and (max-width: 450px) {
  .tags {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .listing-image {
    margin: 0;
    width: 40%;
    height: 40%;
    margin-top: -40px;
  }

  .listing-image img {
    width: inherit;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
@media screen and (min-width: 451px) and (max-width: 570px) {
  .tags {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .listing-image {
    margin: 0;
    width: 35%;
    height: 35%;
    margin-top: -40px;
  }

  .listing-image img {
    width: inherit;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
@media screen and (min-width: 571px) and (max-width: 767px) {
  .tags {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }

  .listing-image {
    margin: 0;
    width: 35%;
    height: 35%;
    margin-top: -40px;
  }

  .listing-image img {
    width: inherit;
  }
}
